django
djangorestframework
django-allauth
dj-rest-auth
dj-database-url
djangorestframework-simplejwt
django-cors-headers
environs
pillow
python-dotenv
requests
cryptography
social-auth-app-django
pipenv
python-decouple
psycopg2-binary
google-auth
google-auth-oauthlib
google-auth-httplib2
gunicorn
whitenoise